/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --page-gradient: repeating-linear-gradient(90deg,#d3d3d3,#d3d3d3 2px,transparent 2px,transparent 4px),
    repeating-linear-gradient(180deg,#d3d3d3,#d3d3d3 2px,transparent 2px,transparent 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a 100%);
    --font-Inter: "Inter", sans-serif;
    --font-Press: "PressStart2P", sans-serif;
    --background-color: #FFFFFF;
    --color-border: black;
    --accent-color: #000;
    --button-text-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #ff0000;
}